/* 
html{
    scroll-behavior: smooth;
}
body{
    color: rgb(27, 220, 254);
    background-color: black;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#container{
    padding: 10px 3px;
    height: 350px;
    display: flex;
    align-items: flex-end;
    justify-content:center ;
    width: 100%;
    border: 1px solid gray;
    border-radius: 10px;
}
.bar{
    background-color: rgb(7, 247, 11);
    width: 22px;
    border: 1px solid aqua;
}

.input{
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
}

input[type="number"]{
    padding: 6px;
    outline: none;
    width: 25rem;
    font-size: 25px;
    color: white;
    background-color: rgb(62, 62, 62);
    border-radius: 10px;
    border-color: none;
    margin-bottom: 60px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}



#n{
    display: flex;
    width: 450px;
}
.sp{
    margin-top : 1rem;
    cursor: pointer;
}
.mainbar>h1{
    margin-left: 10px;
}
.pink   
{
    background-color: rgb(18, 200, 255);
    color: black;
}
.red{
    color: black;
    background-color: red;
}
details{
    width: 100%;
    display: flex;
    justify-content: left;
    margin-top: 1.5rem;
    font-size: 2rem;
}
input[type="range"]{
    margin-top: 15px;
    width: 300px;
}
summary{
    color: white;
}
details{
    font-size: 25px;
    width: 250px;
    padding: 4px;
  background-color: #35373c;
  border: none;
  box-shadow: 0px 0px 20px #fa0505;
  cursor: pointer;
}
details > p{
    padding: 10px;
    border-radius: 10px;
}

input[type="radio"]:checked ~ .check {
    height: 30px;
    width: 30px;
    background-color: blue;
  }

.detail{
    margin: 10px;
    border-radius: 20px;
    background-color: #24262b;
    color: wheat;
    width: 100%;
    border:2px solid rgb(255, 1, 90);
    font-size: 20px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.subs{
    display: flex;
}
.subs div{
    padding-left: 30px;
} */